/* https://www.fontspace.com/pokemon-gb-font-f9621 */
@font-face {
    font-family: 'Pokemon GB';
    src: url('PokemonGb-RAeo.ttf');
}

.pokemon-font {
    font-family: 'Pokemon GB';
}

.text-center {
    text-align: center;
}

.content {
    max-width: 1800px;
}

.margin-auto {
    margin-left: auto;
    margin-right: auto;
}

.sg-grid .col {
    position: relative;
    min-height: 40px;
    padding: 8px;
    font-size: 16px;
    line-height: 32px;
	background-color: #283A45;
	margin: 0 8px;
}